* {
    box-sizing: border-box;
}
.pt-6 {
    padding-top: 4.5rem;
}
body {
    background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important;
}
.container {
    padding: 50px 0px;
}
.bar-icon {
    color: #fff;
}
nav img {
    width: 64px;
    height: 38px;
    margin: 0 10px 0 0;
}
nav a h1 {
    font-size: 16px;
    color: white;
    margin: 0 0 5px;
}
nav a h1 small {
    font-size: 10px;
    color: #bfc1cb;
}
.nav-link {
    color: white;
    font-size: 14px;
    transition: 0.3s !important;
}
.nav-link:hover {
    color: #009ad8;
}
.nav-li {
    padding: 2px 20px;
    border: 2px solid transparent;
    transition: 0.3s;
    border-radius: 30px;
    margin-left: 5px;
}
.nav-li:hover {
    border: 2px solid #009ad8;
}
.nav-item.active {
    border: 2px solid #009ad8 !important;
}
.navbar-nav .nav-link.active {
    color: #009ad8;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
}
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
}

.hero {
    background-image: url(../images/home.png);  
    background-size: cover;
}


form input {
    padding: 20px 50px 20px 20px;
    width: 100%;
    background: #1e202b;
    color: white;
    border-radius: 30px;
}

form input:focus {
    outline: none;
    border: none;
}


.find-btn {
    --bs-btn-color: #fff;
    --bs-btn-bg: #009ad8;
    --bs-btn-border-color: #009ad8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #009ad8;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
}

   .row > * {
    padding-right: 0;
    padding-left: 0;
}

.box {
    background-color: #262936;
}
.head {
    padding: 10px;
    color: #bfc1c8;
    background-color: #262936;
    font-size: 14px;
}
.forecast-content {
    color: #bfc1c8;
    font-size: 14px;
    padding: 30px 20px;
}
.num {
    font-size: 90px;
    color: #fff;
    margin: 0 30px 0 0;
    font-weight: bold;
}
.custom {
    color: #009ad8;
    font-size: 14px;
    margin: 20px 0;
}

.forecast-content span {
    color: #bfc1c8;
    font-size: 14px;
    margin: 0 20px 0 0;
}
.forecast-content span img {
    margin: 0 5px 0 0;
}

.box1 {
    background-color: #3a3b3e;
}
.box2 {
    background-color: #1e202b;
}
.num2 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

/* Style the footer */
footer {
    background: linear-gradient(to bottom, #212529, #262936); /* Gradient background */
    color: #fff; 
    padding: 20px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
}
.right button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.social-icons a {
    margin-right: 10px;
}
.social-icons img {
    width: 20px;
    height: 20px;
}
.copyright {
    text-align: center;
    font-size: 12px;
}
